<h1 class=""><span class="icon"><i class="fas fa-tree"></i> </span> <%= @battlefield.name %></h1>
<div class="content">
  <div class="columns">
    <div class="column"><%= link_to "Battle Now!", battlefield_battles_path(@battlefield), class:"button is-link is-large" %></div>
    <div class="column has-text-right"> <% if @battlefield.creator == current_player %>
        <%= link_to "Edit", edit_battlefield_path(@battlefield), class:"button is-primary"%>
        <%= link_to "Delete", battlefield_path(@battlefield), method: :delete, data: { confirm: "Are you sure? (This will destroy the battle field and all associated battles and moves!)" }, class: 'button is-danger' %>
      <% end %></div>
  </div>
</div>
<div class="columns">
  <div class="column">
    <div class="content ">
      <h2 class=""><span class="icon"><i class="fas fa-poll"></i></span> Stats</h2>
      <div class="box">
        <p><strong>Completed Battles:</strong> <%= @battles.count %></p>
        <p><strong>Waiting Challenges:</strong> <%= @all_challenge_battles.count %></p>
        <p><strong>Max Level:</strong> &nbsp;&nbsp;&nbsp;<%= raw level_icon_span(level:@battlefield.max_level) %></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div id= "" class="content">
      <%= render "battle_list" %>
    </div>
  </div>
</div>
