<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="<%= root_path %>">
      <img src="<%= asset_path("roshambo.002.png")%>"  height="50">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to "Battlefields", battlefields_path, :class => 'navbar-item' %>
</div>


    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if player_signed_in? %>
  <%= link_to "Logout", destroy_player_session_path, method: :delete, :class => 'button'  %>
<% else %>
  <%= link_to "Sign up", new_player_registration_path, :class => 'button is-primary'  %> 
  <%= link_to "Login", new_player_session_path, :class => 'button'  %>
<% end %>
        </div>
      </div>
    </div>
  </div>
</nav>

