<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="<%= root_path %>">
      <img src="<%= asset_path("roshambo.002.png")%>"  height="50">
    </a>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBattlefield" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to "Battlefields", battlefields_path, :class => 'navbar-item' %>
      <%= link_to "Players", players_path, :class => 'navbar-item' %>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <% if current_player %>
          <%= link_to "Logout", logout_path, method: :delete, :class => 'button is-link' %>
        <% else %>
          <%= link_to "Sign up",  new_player_path, :class => 'button is-primary' %>
          <%=  link_to "Login", login_path, :class => 'button is-link' %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
