<!DOCTYPE html>
<html>
  <head>
    <title>Roshambo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/87fdee6cb9.js" crossorigin="anonymous"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/nuclear/bulmaswatch.min.css">
  </head>
  <body>
    <%= render 'layouts/nav' %>
    <div class="has-text-weight-bold has-text-centered">
      <% if current_player %>
        <div class="">Player: <%= link_to current_player.display_name, player_path(current_player) %></div>
      <% else %>
        <div class="">You are not logged in.</div>
      <% end %>
    </div>

    <section class="section">
      <%= render 'layouts/notifications' %>
      <div class="container">
      <div class="content">
        <%= yield %>
      </div>
      </div>
    </section>
    <footer class="footer">
      <div class="has-text-centered is-italic">
        <p>Made With ❤️ | Flatiron School Mod-2 Project | Clark Johnson!</p>
        <div>
        </footer>
      </body>
    </html>
