<!DOCTYPE html>
<html>
  <head>
    <title>Roshambo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/87fdee6cb9.js" crossorigin="anonymous"></script>

  </head>

  <body>
<%= render 'layouts/nav' %>
  <% if notice %>   
  <section class="section">
    <div class="container">
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
    </div>
  </section>
<% end %>

   <section class="section">
    <div class="container">
    <%= yield %>
        </div>
  </section>
  </body>
</html>
