<!DOCTYPE html>
<html>
  <head>
    <title>Roshambo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/87fdee6cb9.js" crossorigin="anonymous"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/nuclear/bulmaswatch.min.css">
  </head>
  <body>
    <%= render 'layouts/nav' %>
      <section class="section">
      <% if current_player %>
        <div class="has-text-weight-bold">Player: <%= current_player.display_name %></div>
      <% end %>
      <%= render 'layouts/notifications' %>
      <div class="content">
        <%= yield %>
      </div>
    </section>
  </body>
</html>
