<!DOCTYPE html>
<html>
  <head>
    <title>Roshambo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/87fdee6cb9.js" crossorigin="anonymous"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/nuclear/bulmaswatch.min.css">
  </head>
  <body>
      <%= render 'layouts/nav' %>
    <% if flash[:notice] %>
      <section class="section">
        <div class="container">
          <p class="alert alert-success"><%= flash[:notice] %></p>
        <% end %>
        <% if flash[:errors] %>
          <p class="alert alert-danger"><%= flash[:errors]%></p>
        </div>
      </section>
    <% end %>
    <section class="section">
      <div class="container">
        <%= yield %>
      </div>
    </section>
  </body>
</html>
